<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <h1>Welcome to Graceful cards!</h1>
    <h4><%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %></h4>
  </div>
</div>